
*{
    margin: 0;
    padding: 0;

}

body{

    background-color: rgb(222, 221, 221);

}

.color-white{

    background-color: white;

}


.front{

    margin-left: 20px;
    padding: 15px;
    
}

img{

    display: inline-block;
    width: 80px;
    vertical-align: middle;

}

h1{
    font-size: 3.2rem;
    display: inline-block;
    vertical-align: middle;
    
}

#container{
    background-color: white;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

#first-piece{
    border-bottom: 2px solid lightgrey;
}

.task{
    background-color: rgb(46, 165, 239);
    color: white;
    display: inline-block;
    width: 80px;
    height: 15px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 8%;
    padding: 10px 20px;
}

.sect{
    color: lightgrey;
    background-color: white;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    border-radius: 8%;
    padding: 10px 20px;
    }

    h2{
        display: inline-block;
    }

    .check{
        color: green;
        border: 2px solid green;
        border-radius: 17px;
    }

    .negation{
        color: red;
        border: 2px solid red;
        border-radius: 17px;
    }

    section{
        margin-left: 55px;
        margin-top: 40px;
    }

    .element{
        display: inline-block;
    }

    .editorial{
        background-color:rgb(46, 165, 239) ;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

    .goals{
        background-color:rgb(101, 16, 192) ;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

    .recruit{
        background-color:rgb(52, 236, 39) ;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

    .mobile{
        background-color:rgb(251, 145, 58) ;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }