
*{
    margin: 0;
    padding: 0;

}

body{

    background-color: rgb(222, 221, 221);

}

.color-white{

    background-color: white;

}


.front{

    margin-left: 20px;
    padding: 15px;
    
}

img{

    display: inline-block;
    width: 80px;
    vertical-align: middle;

}

h1{
    font-size: 3.2rem;
    display: inline-block;
    vertical-align: middle;
    
}

#container{
    background-color: white;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.task{
    background-color: rgb(46, 165, 239);
    color: white;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 8%;
}

.sect{
    color: lightgrey;
    background-color: white;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    border-radius: 8%;
    }
